<p>
    &quot;<%= obj["quote"] %>&quot;
    <br/> &ndash; <%= obj["attribution"] %>
</p>

<p>
  Submitted by <%= obj["submitter"] %>
</p>
<br/>
<br/>

<h1>
  This was how I originally accessed the file path and parameters using only the Rack environment:
</h1>

<br/>

<h2>
  env["PATH_INFO"] => <%= env["PATH_INFO"] %>
  env["QUERY_STRING"] => <%= env["QUERY_STRING"] %>
</h2>

<br/>

<h1>
  Then I required Rack::Request.
  Rack::Request provides a convenient interface to a Rack environment.
  Instead of accessing env["PATH_INFO"] we can simply access the params directly.
</h1>

<br/>

<h2>
  params: <%= params %>
  full_path: <%= fullpath %>
</h2>

